#content, #content .homeContainer {
	min-height: 100%;
	z-index: 2;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Droid Sans', 'Roboto', sans-serif;
	min-height: 100%;
	max-width: 100%;
	width: 100%;
}

#header #loading, #header #shareContent, #header #backbutton {
	display: none;
	background-size: 50%;
	width: 15%;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	height: 100%;
}

#header #shareContent {
	background: url("../img/share.png") no-repeat center;
}

#header #loading {
	background: url("../img/loading.gif") no-repeat center;
}

#header #backbutton {
	left: 0;
	background: url("../img/backArrow.png") no-repeat center;
}

#header #logo {
	text-align: center;
	width: 70%;
	margin-left: 15%;
	margin-top: 2%;
}

#header #logo img {
	max-width: 100%;
	max-height: 90%;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 3%;
	height: 14%;
	margin: 0;
	z-index: 98;
}

#content {
	padding: 0;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

#header, #content {
	max-width: 100%;
}

#content .homeContainer h1,#content .catTypesContainer h1 {
	margin: 0;
	font-size: 8vw;
	text-transform: uppercase;
	padding: 5px 0;
	text-align: center;
}

#content .catTypesContainer .loadMore {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	border-bottom: 0;
	font-size: 5.4vw;
	z-index: 3;
	text-align: center;
}

#content .homeContainer, #content .catTypesContainer {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.subcategoryContentCategory, .articleContentSingle, .articleContentCategory {
	padding: 10px 5%;
	margin: 0 auto;
}

.articleContentSingle p, .articleContentCategory p {
	font-size: 3.6vw;
	text-transform: capitalize;
}

.subcategoryContentCategory h2 {
	text-align: center;
}

.subcategoryContentCategory h2, .articleContentSingle h2,.articleContentCategory h2 {
	text-transform: uppercase;
	font-size: 4.8vw;
}


#header #menu-activator {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 52px;
	padding: 10px;
}

.drawer .menuItemSearch, .drawer .menuItem, .drawer .menuItemHome {
	font-size: 5vw;
	padding: 2vw;
	text-transform: uppercase;
}

#results {
	display: none;
}




#toast {
	display: none;
	font-size: 3.6vw;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 1);
	padding: 1vw;
	position: fixed;
	width: 80%;
	left: 10%;
	bottom: 10%;
	z-index: 80;
	border-radius: 25px;
	text-align: center;
}


#splashScreen {
	background: #fff;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	z-index: 6001;
}

#splashScreen img {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-height: 20%;
}

#splashScreen #splashLoading {
	top: 60%;
}

/* Here the form CSS*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}
.form-wrapper {
    width: 100%;
    padding: 15px;
    margin: 15px auto 15px auto;
}

/* Form text input */
.form-wrapper input {
    width: 73%;
    height: 6vw;
    padding: 10px 5px;
    float: left;
    font: bold 4vw 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 6vw;
    width: 24%;
    font: bold 4vw 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #02AEF0;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #02AEF0;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #02AEF0;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #02AEF0 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #02AEF0;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #02AEF0;
}