#header #logo {
    background: #fff;
}

#content .backgroundContainer {
    background: url("../img/bg.jpg") no-repeat center;
    width: 100%;
    max-width: 100%;
    height: 40%;
    max-height: 563px;
    min-height: 300px;
}

.drawer-main .drawer-brand {
    padding-top: 2vw;
    font-size: 5.3vw;
    color: #fff;
    text-align: center;
}

#content .homeContainer .menuItem,#content .homeContainer .menuItemSearch  {
    font-size: 4vw;
    color: #99BF38;
    border-bottom: 1px solid #02AEF0;
    text-align: left;
    padding: 40px 20px 40px 60px;
    text-transform: uppercase;
}

#content .homeContainer .menuItem.Lugares {
    background: #fff url("../img/places.png") no-repeat 5px 50%;
}

#content .homeContainer .menuItem.Eventos {
    background: #fff url("../img/events.png") no-repeat 5px 50%;
}

#content .homeContainer .menuItemSearch {
    background: #fff url("../img/search.png") no-repeat 5px 50%;
}

.articleContentSingle, .articleContentCategory {
    border-bottom: 2px solid #D2E4A3;
    clear: both;
}

.articleContentSingle img, .articleContentCategory img {
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}

.articleContentSingle p, .articleContentCategory p {
    color: #8D8C8C;
}

.articleContentSingle h2, .articleContentCategory h2 {
    color: #99BF38;
}

#content .catTypesContainer .loadMore {
    background: #fff;
    border: 1px solid #02AEF0;
    border-bottom: 0;
    margin: 0;
}
#content .homeContainer h1, #content .articleContentSingle h1,#content .catTypesContainer h1 {
    background: #02AEF0 url("../img/menuIcon.png") no-repeat 95% 50%;
    min-height: 50px;
    padding-right: 10%;
    height: 100%;
    color: #fff;
}

#content .articleContentSingle h1 {
    padding: 10%;
}

#header {
    background: #fff;
    border-bottom: 2px solid #02AEF0;
}

.drawer .menuItem, .drawer .menuItemSearch, .drawer .menuItemHome {
    color: #666666;
    border-bottom: 1px solid #999;
}

.drawer .activeMenuItem {
    color: #99BF38;
}